html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: #ffffff;
}

.form-padding {
    padding: 0 15px;
}
